

<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2><%= comdata[0].computer_name%> VS <%= comdata[1].computer_name%></h2>

<table id = "myTable">

  <tr>
    <th>Property</th>
    <th><%= comdata[0].computer_name%></th>
    <th><%= comdata[1].computer_name%></th>
    <th>Difference</th>
  </tr>
 
    
        <tr>
            <td>RAM</td>
            <td id="ram1"><%= comdata[0].RAM %></td>
            <td id="ram2"><%= comdata[1].RAM %></td>
            <td><% if ((comdata[0].RAM - comdata[1].RAM) > 0){%>
               <%= comdata[0].RAM - comdata[1].RAM %>
               <% } else {%>
              <%= comdata[1].RAM - comdata[0].RAM %>
              <% }%> </td>
        </tr>
        <tr>
            <td>CPU Speed</td>
            <td id="cpuspeed1"><%= comdata[0].CPU_speed %></td>
            <td id="cpuspeed2"><%= comdata[1].CPU_speed %></td>
            <td><% if ((comdata[0].CPU_speed - comdata[1].CPU_speed) > 0){%>
              <%= comdata[0].CPU_speed - comdata[1].CPU_speed %>
              <% } else {%>
             <%= comdata[1].CPU_speed - comdata[0].CPU_speed %>
             <% }%> </td>
        </tr>
        <tr>
            <td>Hard Disk</td>
            <td id="harddisk1"><%= comdata[0].harddisk %></td>
            <td id="harddisk2"><%= comdata[1].harddisk %></td>
            <td><% if ((comdata[0].harddisk - comdata[1].harddisk) > 0){%>
              <%= comdata[0].harddisk - comdata[1].harddisk %>
              <% } else {%>
             <%= comdata[1].harddisk - comdata[0].harddisk %>
             <% }%> </td>
        </tr>
        <tr>
            <td>Storage Size</td>
            <td id="storagesize1"><%= comdata[0].storage_size %></td>
            <td id="storagesize2"><%= comdata[1].storage_size %></td>
            <td><% if ((comdata[0].storage_size - comdata[1].storage_size) > 0){%>
              <%= comdata[0].storage_size - comdata[1].storage_size %>
              <% } else {%>
             <%= comdata[1].storage_size - comdata[0].storage_size %>
             <% }%> </td>
        </tr>
        <tr>
            <td>Number Of Port</td>
            <td id="port1"><%= comdata[0].no_Of_USB_ports %></td>
            <td id="port2"><%= comdata[1].no_Of_USB_ports %></td>
            <td><% if ((comdata[0].no_Of_USB_ports - comdata[1].no_Of_USB_ports) > 0){%>
              <%= comdata[0].no_Of_USB_ports - comdata[1].no_Of_USB_ports %>
              <% } else {%>
             <%= comdata[1].no_Of_USB_ports - comdata[0].no_Of_USB_ports %>
             <% }%> </td>
        </tr>
        <tr>
            <td>Price</td>
            <td id="price1"><%= comdata[0].price %></td>
            <td id="price2"><%= comdata[1].price %></td>
            <td><% if ((comdata[0].price - comdata[1].price) > 0){%>
              <%= comdata[0].price - comdata[1].price %>
              <% } else {%>
             <%= comdata[1].price - comdata[0].price %>
             <% }%> </td>
        </tr>
        <tr>
            <td>Screen Size</td>
            <td id="screensize1"><%= comdata[0].screen_size %></td>
            <td id="screensize2"><%= comdata[1].screen_size %></td>
            <td><% if ((comdata[0].screen_size - comdata[1].screen_size) > 0){%>
              <%= comdata[0].screen_size - comdata[1].screen_size %>
              <% } else {%>
             <%= comdata[1].screen_size - comdata[0].screen_size %>
             <% }%> </td>
        </tr>
   
    
  
</table>
<script>
  //gets table
  var oTable = document.getElementById('myTable');

  //gets rows of table
  //var rowLength = oTable.rows.length;


     var oCells = oTable.rows.item(1).cells;

     //gets amount of cells of current row
     //var cellLength = oCells.length;
     if (parseInt(oCells.item(1).innerHTML) > parseInt(oCells.item(2).innerHTML))
     {
      document.getElementById("ram1").style.backgroundColor = "green";
     }
     else if (parseInt(oCells.item(1).innerHTML) === parseInt(oCells.item(2).innerHTML))
     {
      document.getElementById("ram2").style.backgroundColor = "green";
      document.getElementById("ram1").style.backgroundColor = "green";
     }
     else
     {
      document.getElementById("ram2").style.backgroundColor = "green";

     }
     var oCells = oTable.rows.item(2).cells;

     //gets amount of cells of current row
     //var cellLength = oCells.length;
     if (parseInt(oCells.item(1).innerHTML) > parseInt(oCells.item(2).innerHTML))
     {
      document.getElementById("cpuspeed1").style.backgroundColor = "green";
     }
     else if (parseInt(oCells.item(1).innerHTML) === parseInt(oCells.item(2).innerHTM))
     {
      document.getElementById("cpuspeed1").style.backgroundColor = "green";
      document.getElementById("cpuspeed2").style.backgroundColor = "green";
     }
     else
     {
      document.getElementById("cpuspeed2").style.backgroundColor = "green";

     }
     var oCells = oTable.rows.item(3).cells;

     //gets amount of cells of current row
     //var cellLength = oCells.length;
     if (parseInt(oCells.item(1).innerHTML) > parseInt(oCells.item(2).innerHTML))
     {
      document.getElementById("harddisk1").style.backgroundColor = "green";
     }
     else if (parseInt(oCells.item(1).innerHTML)=== parseInt(oCells.item(2).innerHTML))
     {
      document.getElementById("harddisk2").style.backgroundColor = "green";
      document.getElementById("harddisk1").style.backgroundColor = "green";
     }
     else
     {
      document.getElementById("harddisk2").style.backgroundColor = "green";

     }
     var oCells = oTable.rows.item(4).cells;

    
     //var cellLength = oCells.length;
     if (parseInt(oCells.item(1).innerHTML) > parseInt(oCells.item(2).innerHTML))
     {
      document.getElementById("storagesize1").style.backgroundColor = "green";
     }
     else if (parseInt(oCells.item(1).innerHTML) === parseInt(oCells.item(2).innerHTML))
     {
      document.getElementById("storagesize2").style.backgroundColor = "green";
      document.getElementById("storagesize1").style.backgroundColor = "green";
     }
     else
     {
      document.getElementById("storagesize2").style.backgroundColor = "green";

     }
     var oCells = oTable.rows.item(5).cells;
     //gets amount of cells of current row
    // var cellLength = oCells.length;
     if (parseInt(oCells.item(1).innerHTML) > parseInt(oCells.item(2).innerHTML))
     {
      document.getElementById("port1").style.backgroundColor = "green";
     }
     else if (parseInt(oCells.item(1).innerHTML) === parseInt(oCells.item(2).innerHTML))
     {
      document.getElementById("port2").style.backgroundColor = "green";
      document.getElementById("port1").style.backgroundColor = "green";
     }
     else
     {
      document.getElementById("port2").style.backgroundColor = "green";

     }

     var oCells = oTable.rows.item(6).cells;
     //gets amount of cells of current row
     //var cellLength = oCells.length;
     if (parseInt(oCells.item(1).innerHTML) > parseInt(oCells.item(2).innerHTML))
     {
      document.getElementById("price1").style.backgroundColor = "green";
     }
     else if (parseInt(oCells.item(1).innerHTML) === parseInt(oCells.item(2).innerHTML))
     {
      document.getElementById("price2").style.backgroundColor = "green";
      document.getElementById("price1").style.backgroundColor = "green";
     }
     else
     {
      document.getElementById("price2").style.backgroundColor = "green";

     }
     

     
     var oCells = oTable.rows.item(7).cells;

     //gets amount of cells of current row
     //var cellLength = oCells.length;
     if (parseInt(oCells.item(1).innerHTML) > parseInt(oCells.item(2).innerHTML))
     {
      document.getElementById("screensize1").style.backgroundColor = "green";
     }
     else if (parseInt(oCells.item(1).innerHTML) === parseInt(oCells.item(2).innerHTML))
     {
      document.getElementById("screensize2").style.backgroundColor = "green";
      document.getElementById("screensize1").style.backgroundColor = "green";
     }
     else
     {
      document.getElementById("screensize2").style.backgroundColor = "green";

     }
  
</script>
</body>
</html>

